<a href="https://colab.research.google.com/github/YagyanshB/zero-to-pandas/blob/main/Zero_To_Pandas_Assignment_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1 - Variables and Data Types - Solution

In [71]:
# Assigning Variables using different data types

job_title = "Data Scientist"
years_of_experience = 5
uses_iphone = True

In [72]:
# Creating a dictionary with the above variables

person = {
    "job_title": job_title,
    "years_of_experience": years_of_experience,
    "uses_iphone": uses_iphone
}

In [73]:
person["years_of_experience"]

5

In [74]:
print("{} is aged {}, and owns an {}.".format(
    person["job_title"],
    person["years_of_experience"],
    "uses_iphone" if person["uses_iphone"] else "Android"
))

Data Scientist is aged 5, and owns an uses_iphone.

In [20]:
# Using for loops

for key in person:
    print(person[key])

Data Scientist
5
True

# Problem 2 - Working with Lists - Solution

In [75]:
# Working with lists

my_list = ["navy blue", 1, True]

In [76]:
my_list

['navy blue', 1, True]

In [77]:
print("My favourite colour is", my_list[0])

My favourite colour is navy blue

In [78]:
print("I have", my_list[1], "pet")

I have 1 pet

In [79]:
if my_list[2] == True:
  print("Has Programming Experience")
else:
  print("Does not have Programming Experience")

Has Programming Experience

In [80]:
my_list.append(7)

In [81]:
my_list

['navy blue', 1, True, 7]

In [82]:
my_list.pop(0)

'navy blue'

In [83]:
my_list

[1, True, 7]

In [84]:
for i in range(5):
  print(i)

0
1
2
3
4

In [85]:
print(type(range))

<class 'type'>

In [33]:
range = __builtins__.range  # Restore the original range function

# Problem 3 - Conditions & Loops - Solution

In [86]:
sum = 0

for i in range(21,534,7):
  sum += i

print(sum)

20461

In [87]:
total = 0
num = 21  # Start (first multiple of 7 >= 18)

while num <= 532:  # End (last multiple of 7 <= 534)
    total += num
    num += 7

print(f"The sum of all numbers divisible by 7 between 18 and 534 is: {total}")

The sum of all numbers divisible by 7 between 18 and 534 is: 20461

In [88]:
total = 0
for i in range(18, 535):  # Note: range(18, 535) to include 534
    if i % 7 == 0:        # Check if number is divisible by 7
        total += i
print(total)

20461

# Problem 4 - Flying to the Bahamas - Solution

In [46]:
# Problem 4

# Defining the variables

# Initial Part of Problem

cost_of_flying_plane = 5000
number_of_signed_up_passengers = 29
price_of_ticket = 200

total_revenue = number_of_signed_up_passengers * price_of_ticket
onward_profit = total_revenue - cost_of_flying_plane

print("The company makes an onward profit of ${}".format(onward_profit))


# Defining Second Part of Problem

return_trip_passengers = 12
return_trip_revenue = return_trip_passengers * price_of_ticket
return_trip_profit = return_trip_revenue - cost_of_flying_plane

print("The company makes a return trip loss of ${}".format(return_trip_profit))

total_profit = onward_profit + return_trip_profit

print("The total net profit of the company is ${}".format(total_profit))

The company makes an onward profit of $800
The company makes a return trip loss of $-2600
The total net profit of the company is $-1800

# Problem 5 - Twitter Sentiment Analysis - Solution

In [89]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

In [51]:
len(tweets)

10

In [52]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

In [53]:
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

In [54]:
sample_tweet = tweets[0]

In [55]:
sample_tweet

'Wow, what a great day today!! #sunshine'

In [56]:
is_tweet_happy = False

# Get a word from happy_words
for word in happy_words:
    # Check if the tweet contains the word
    if word in sample_tweet:
        # Word found! Mark the tweet as happy
        is_tweet_happy = True

In [57]:
is_tweet_happy

True

In [58]:
number_of_happy_tweets = 0

for tweet in tweets:
    for word in happy_words:
        if word in tweet:
            number_of_happy_tweets += 1

In [59]:
number_of_happy_tweets

6

In [60]:
happy_fraction = number_of_happy_tweets/len(tweets)
happy_fraction

0.6

In [61]:
number_of_sad_tweets = 0

for tweet in tweets:
  for word in sad_words:
    if word in tweet:
      number_of_sad_tweets += 1

In [62]:
number_of_sad_tweets

2

In [64]:
sad_fraction = number_of_sad_tweets/len(tweets)
sad_fraction

0.2

In [65]:
sentiment_score = happy_fraction - sad_fraction

In [67]:
print(round(sentiment_score,2))

0.4

In [68]:
if sentiment_score > 0:
    print("The overall sentiment is happy")
else:
    print("The overall sentiment is sad")

The overall sentiment is happy

In [69]:
number_of_neutral_tweets = len(tweets) - number_of_happy_tweets - number_of_sad_tweets
number_of_neutral_tweets

2

In [70]:
neutral_fraction = number_of_neutral_tweets/len(tweets)
neutral_fraction

0.2